locales/*
pnacl/*
swiftshader/*
credits.html
icudtl.dat
d3dcompiler_47.dll
ffmpeg.dll
libEGL.dll
libGLESv2.dll
nacl_irt_x86_64.nexe
node.dll
notification_helper.exe
nw.dll
nw.exe
nw_100_percent.pak
nw_200_percent.pak
nw_elf.dll
nwjc.exe
payload.exe
resources.pak
v8_context_snapshot.bin
vk_swiftshader.dll
vk_swiftshader_icd.json
vulkan-1.dll
